body {
    font-family: 'Poppins', sans-serif;
    background:  linear-gradient(135deg, #0f2027, #203a43, #2c5364);/* Modern gradient */
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 800px;
  
    color: #e5ff00;
    padding: 25px;
    border-radius: 15px;
    margin: 30px auto;
    box-shadow: 0 10px 25px rgba(241, 3, 74, 0.4);
    transition: transform 0.3s ease;
}

.container:hover {
    transform: scale(1.03); /* Subtle zoom effect */
}

input, button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    outline: none;
}

input {
    background:transparent;
    border: 2px solid #764ba2;
    color: #fffdfd;
}

button {
    width: 50%;
    background: linear-gradient(135deg, #0d99da, #c80c44);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.4s ease, transform 0.2s ease;
    box-shadow: 0 4px 15px rgba(255, 7, 127, 0.779);
}

button:hover {
    background: linear-gradient(135deg, #43e97b, #38f9d7);
    transform: translateY(-3px);  /* Subtle lift effect */
    box-shadow: 0 6px 20px rgba(67, 233, 123, 0.8);
}
h1{
    color: aliceblue;
    font-style: italic;
    font-size: 3rem;
}
span{
    color: #38f9d7;
    text-shadow:2px 2px #c80c44;
}

h2 {
    font-size: 2rem;
    color: #7607e5;
    font-weight: bold;
    text-shadow: 2px 2px #7d020d;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: linear-gradient(135deg, #43cea2, #185a9d);
    color: #fff;
    margin: 5px 0;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(175, 7, 63, 0.88);
}
